
*{ margin:0; padding:0; list-style:none; text-decoration:none; border:none; color:#101010; outline:none;}
/*html,body{ height:100%;}*/

.wrap{position: relative;width:100%; max-width:640px; min-width:320px; margin:0 auto;}
.box{ background:linear-gradient(to right,#6980ff 0%, #a856ff 100%);  width:100%; max-width:640px; min-width:320px; margin:0 auto; display:block; position:relative;}

.logo{ position:absolute; right:0; top:0.5rem; width:55%;z-index:1;}
.logo img{ display:block; width:100%;}

.main{width:100%;display:block;background:url(../images/bg1.png) repeat;background-size:0.5rem auto;}
.main-box{display:block;width:100%;padding-top: 1rem}
.main-top{display:block;margin:0 auto;}
.main-top-box{width:100%; margin:0 auto;position: relative;}
.ticket{ font-size:0.7rem; color:#333;}
.ticket span{ display:block; color:#5062dd; font-size:0.65rem}
.main-top i{ width:100%; display:block; padding:1rem 0;}
.main-top i img{ display:block; width:100%;}
.login-time{ font-size:0.6rem; color:#5062dd; margin-left:50%;}
.login-time span{display:block;font-size: 0.6rem;color:#020202;}

.main-con{ display:block; width:100%; background:url(../images/con-bg.png) center repeat-y; background-size:100% auto;margin-top: -0.1rem;}
.main-con-box{ width:80%; margin:0 auto; display:block;}
.main-con-box span,.main-con-box p{ font-size:0.65rem; color:#000; display:block; padding:0.5rem 0; text-align:justify;}
.main-con-box .ib{ width:100%; display:block; margin:0.3rem 0;}
.main-con-box .ib img{ width:100%; display:inline-block;}

.line{ width:100%; display:block;margin-top: -1px;}
.line img{ width:100%; display:block;}

.notxt{ text-align:center; line-height:16.5rem; color:#979795; font-size:0.9rem; text-align:center;}

.main-foot{ display:block; width:100%; padding:0.5rem 0 1rem;}
.j_snapshot_img{
    display: block;
}

.ewm{display:block;width: 40%;margin-left:5%;}
.ewm img{ width:100%; max-width:413px; display:block;}

.tips{
    width: 7rem;
    position: absolute;
    bottom: 2.5rem;
    right: 1rem;
}
.tips img{
    width: 100%;
}

.bg{
    width: 100%;
}
.bg img{
    width: 100%;
    display: block;
}
.top-con{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1.5rem;
}
.head-con{
    width: 80%;
    margin: 0 auto;
}





















