<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>{{ title }}</title>
    <link href="{{ public }}css/yindao.css{{ suffix }}" rel="stylesheet">
    <script src="{{ public }}js/jquery-1.12.4.min.js"></script>
    <script src="{{ public }}js/rootResize.js"></script>
</head>

<body>
<div class="flag">
    <div class="flag-logo">
        <img src="{{ public }}images/logo1.png">
    </div>
    <div class="flag-main">
        <div class="flag-top">
            <img src="{{ public }}images/flag-bg.png">
            <div class="flag-top-con">
                <i><img src="{{ public }}images/flag-top.png"></i>
                <span>*</span>
                <p>如何生成<br>自己的故事页?</p>
            </div>
        </div>
        <ul>
            <li><span>关注公众号</span><img src="{{ public }}images/rukou1.jpg"></li>
            <li><span>点击参与入口<br>( 时光印记 )</span><img src="{{ public }}images/rukou2.jpg"></li>
        </ul>
        <div class="btn"><a href="https://dwz.cn/A7i5oVHm">点击前往生成</a></div>
    </div>
    <div class="close"><a href="index.php"><img src="{{ public }}images/close.png"></a></div>
</div>
</body>
</html>